{% extends "match_oligo/main.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <h4>Oligo Search <small> This program uses xlrd and biopython to find short oligonucleotide sequences within a larger seaquence. The user can upload multple files. At this point, only accepting xls and xlsx files.</small></h4>
    <form class="uniForm" enctype="multipart/form-data" method="POST">
        {% csrf_token %}	
        {{ form1|crispy }}
    	{{ form2|crispy}}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
{% endblock %}
