{% extends "query/avatar_test.html" %}
{% block content %}
{% load crispy_forms_tags %}
<p>Hello! Drag and drop or upload your oligo and reference files below. </p>
    <h1>Name and Comments</h1>
    <form method="POST" class="uniForm">{% csrf_token %}
        {{ form|crispy }}

    <form class="form-inline">
	<div class="form-group">
	    <label for="exampleInputName2">Name</label>
	    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  	</div>
  	<div class="form-group">
    	    <label for="exampleInputEmail2">Email</label>
    	    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  	</div>
	
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}

